.form{
    height: 500px;
    width:430px;
    background-color: rgba(255, 255, 255, 0.07);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.signup{
    height: 520px;
}

.form *{
    font-family: 'Poppins',sans-serif;
    color: #fff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
}

.form h3 span{
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #e5e5e5;
}

.form label{
    display: block;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
}

.signup label{
    margin-top: 2px;
}

.form input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, .07);
    /* border: none; */
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}

.form button{
    margin-top: 50px;
    width: 100%;
    background-color: #fff;
    color: #080710;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.signup button{
    margin-top: 30px;
}

.redirect{
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
}

.error{
    position: absolute;
    width: 430px;
    height: 30px;
    border: 2px solid rgb(140, 27, 27);
    background: rgba(246, 138, 138, 0.909);
    border-radius: 4px;
    transform: translate(-50%,-50%);
    color: rgb(57, 4, 4);;
    top: 15%;
    left: 50%;
    text-align: center;
}

.redirect li{
    cursor: pointer;
}

@media screen and (max-width:420px){
   .form{
        width: 350px;
        margin-top: 25px;
    }
    .redirect{
        font-size: 12px;
    }

    .form button{
        margin-top: 15px;
    } 
}


@media screen and (max-width:400px){
    .form{
        height: 500px;
        width: 300px;
        top: 53%;
    }

    .error{
        margin-top: 10px;
        width: 250px;
    }

    .redirect{
        font-size: 12px;
    }

    .form button{
        margin-top: 15px;
    }
}


@media screen and (max-height:800px) {
    .form{
        margin-top: 30px;
    }
}

@media screen and (max-width:688px) {
   form{
    width: 340px;
    height: 500px;
    
   }    
   .error{
    width: 300px;
   } 
}