.categories h1 {
  font-weight: 700;
  margin-bottom: 20px;
}

.collection {
  margin-left: 20%;
  display: flex;
  line-height: 9px;
  text-align: center;
}

.collection input {
  margin-top: -16px;
}

.choices {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 1px solid;
  width: 300px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(7, 6, 14, 0.6);
  cursor: pointer;
}

.categories,.difficulty{
  cursor: pointer;
}

.choices button {
  margin-top: 10px;
}

.difficulty h3 {
  margin-top: 20px;
}

.quizes {
  text-align: center;
}

.quizes a {
  text-decoration: none;
  color: white;
}

.categories input {
  display: block;
}

.help{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 88%;
  left: 50%;
}

.quiz_snippet {
  border: 1px solid;
  border-radius: 7px;
  font-size: 70%;
  list-style: none;
  padding: 1%;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  box-shadow: 2px 1px 7px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question {
  margin-right: 4%;
  font-size: 70%;
}
.two {
  margin-right: 40%;
  display: flex;
}
.category{
  margin-right: 190%;
}
.difficult {
  margin-right: 4%;
}
.correct-answer {
  margin-right: 4%;
}
.correct-answer h6{
  color: rgb(17, 236, 17);
}

@media screen and (max-width:688px) {
  .quiz_snippet{
    display: flex;
    width: 98%;
  }
  .difficult{
    display: none;
  }
  .category{
    margin-right: 10%;
  }
  .correct-answer{
    margin-left: -35%;
  }
}